@import "~tachyons";
@import "variables";
@import "font";

.name {
  @extend .font-primary;
  @extend .tc;
  text-decoration: underline;
  text-decoration-color: $secondary-dark;
}

h2 {
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

.card-skill-title {
  font-size: 0.5rem;
}
