.lattice-form-label {
  padding-bottom: 7px;
}

.lattice-icon {
  padding-bottom: 0 !important;
}

.lattice-form-band {
  margin-bottom: 1.75rem !important;
}

.lattice-form-input {
  width: 100% !important;
}