.register {

}

.register-form-label {
  padding-bottom: 7px;
}

.register-icon {
  padding-bottom: 0 !important;
}

.register-form-band {
  margin-bottom: 1.75rem !important;
}

.register-form-input {
  width: 100% !important;
}